#map-canvas {
	height: 300px;
	background-color: #CCC;
	border: solid 1px #d8d8d8;
}
.gmnoprint img {
    max-width: none; 
}

.captions {
	  margin-top: 10px;
}

.captions p {
	font-size: small;
}

#carwash_img {
	width: 55%;
}